<div class="grid grid-flow-col grid-cols-4 grid-rows-3 gap-y-10 ">
  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>

  <div class="w-60 h-40 mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-xl shadow-md overflow-hidden ">
    <div>
        <p class="text-5xl m-3">
            <%= @value %>
        </p>
    </div>
    <div class="align-text-bottom">
        <p class="m-3 info">
            Topic: <%= @subscribe_topic %>
            <br>
            Type: <%= @type %>
        </p>
    </div>
  </div>
</div>
