<div class="text-center">
  <h1 class="text-center mt-10 text-4xl font-bold">ROS Bridge</h1>
  <p class="text-grey-100 font-light">This server sends incoming commands from the operator to the avatar.</p>
  <div class="pt-10 text-white text-lg font-light">
    <button phx-click="rosbridge" class="hover:shadow-lg transform hover:scale-105 transition duration-500 p-5 rounded-xl w-50 h-20 <%= if @rosbridge_status == "Started", do: "bg-gradient-to-r from-red-800 to-indigo-800", else: "bg-gradient-to-l from-red-800 to-indigo-800" %>"><%= if @rosbridge_status == "Started", do: "Kill ROS Bridge ❌", else: "Launch ROS Bridge 🔑"%></button>
  </div>
</div>

<div class="bg-green rounded-lg border-black flex justify-center items-center">
  <div class="space-y-10">
    <h1 class="text-center mt-10 text-4xl font-bold">Launch Files</h1>
    <div class="<%= if @arm_status == "Started", do: "border-4 border-green-600", else: "border-4 border-red-600" %> flex items-center justify-between p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
      <span class="text-3xl text-extrabold">Arm 💪</span>
      <div class="<%= if @arm_status == "Started", do: "bg-red-600", else: "bg-green-600" %> py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
        <button phx-click="arm"><%= if @arm_status == "Started", do: "Kill", else: "Launch" %></button>
      </div>
    </div>
    <div class="<%= if @drivetrain_status == "Started", do: "border-4 border-green-600", else: "border-4 border-red-600" %> flex items-center justify-between p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
      <span class="text-3xl text-extrabold">Drivetrain 🚚</span>
      <div class="<%= if @drivetrain_status == "Started", do: "bg-red-600", else: "bg-green-600" %> py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
        <button phx-click="drivetrain"><%= if @drivetrain_status == "Started", do: "Kill", else: "Launch" %></button>
      </div>
    </div>

    <div class="<%= if @vision_status == "Started", do: "border-4 border-green-600", else: "border-4 border-red-600" %> flex items-center justify-between p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
      <span class="text-3xl text-extrabold">Vision 👀</span>
      <div class="<%= if @vision_status == "Started", do: "bg-red-600", else: "bg-green-600" %> py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
        <button phx-click="vision"><%= if @vision_status == "Started", do: "Kill", else: "Launch" %></button>
      </div>
    </div>
    <div class="<%= if @audio_server_status == "Started", do: "border-4 border-green-600", else: "border-4 border-red-600" %> flex items-center justify-between p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
      <span class="text-3xl text-extrabold">Audio 🔊</span>
        <div class="font-medium">
          Client:
          <div class="text-center py-3 px-5 <%= if @audio_client_status == "Started", do: "bg-red-600", else: "bg-green-600" %> text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
            <button phx-click="audio_client"><%= if @audio_client_status == "Started", do: "Kill", else: "Launch" %></button>
          </div>
        </div>
        <div class="font-medium w-25">
          Server:
          <div class="text-center py-3 px-5 <%= if @audio_server_status == "Started", do: "bg-red-600", else: "bg-green-600" %> text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
            <button phx-click="audio_server"><%= if @audio_server_status == "Started", do: "Kill", else: "Launch" %></button>
          </div>
        </div>
    </div>
    <div class="flex items-center justify-between p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
      <span class="text-3xl text-extrabold">Emergency Stop 🛑</span>
      <div class="bg-red-600 py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
        <button phx-click="estop">Terminate all</button>
      </div>
    </div>

    <div class="pt-50"></div>
</div>
