/* This file is for your main application css. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.alex-logo {
    width: 30px;
    height: 30px;
}

.bottom-align {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    border: solid 1px red;
  }


// @import "./phoenix.css";

/* Alerts and form errors */
// .alert {
//   padding: 15px;
//   margin-bottom: 20px;
//   border: 1px solid transparent;
//   border-radius: 4px;
// }
// .alert-info {
//   color: #31708f;
//   background-color: #d9edf7;
//   border-color: #bce8f1;
// }
// .alert-warning {
//   color: #8a6d3b;
//   background-color: #fcf8e3;
//   border-color: #faebcc;
// }
// .alert-danger {
//   color: #a94442;
//   background-color: #f2dede;
//   border-color: #ebccd1;
// }
// .alert p {
//   margin-bottom: 0;
// }
// .alert:empty {
//   display: none;
// }
// .invalid-feedback {
//   color: #a94442;
//   display: block;
//   margin: -1rem 0 2rem;
// }

// /* Messages */

// .messages-box {
//   height: 50vh;
// }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}